<configuration>

    <!-- Appenders define where the logs should be written -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>src/main/log/mapleAssistant.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger is the default logger for all loggers in the application -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>

